@use '/src/common/styles/colors.scss';
@use '/src/common/styles/shared.scss';
@import '/src/common/styles/partials/reset';
@import '/src/common/styles/partials/fontPopins';

:root {
    font-family: 'Poppins', 'Segoe UI', Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    background-color: colors.$charcoal100;
    color: colors.$charcoal700;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @extend .scrollbar;
}

::selection {
    color: colors.$charcoal100;
    background-color: colors.$charcoal500;
}

button,
input,
textarea {
    font-family: 'Poppins' !important;
}
