//Charcole
$clrBlack: #484646;

$clrText: #212222;

$clrGrey100: #767474; //rgba($clrBlack, .75)
$clrGrey200: #a3a2a2; //rgba($clrBlack, .50)
$clrGrey300: #d1d1d1; //rgba($clrBlack, .25)
$clrGrey400: #f6f6f6; //rgba($clrBlack,. 05)

/*#endregion*/

//Wine
$clrRed100: #891848;
$clrRed200: #a75276; //rgba($clrRed100, .75)
$clrRed300: #c48ba3; //rgba($clrRed100, .50)
$clrRed400: #e1c5d1; //rgba($clrRed100, .25)

/*#region Purpule*/

$clrPurple900: #be7ceb;
$clrPurple800: #aa6fd1;
$clrPurple700: #9561b8;

$clrPurple600: #80549e;

$clrPurple500: #6c4685;
$clrPurple400: #57396b;
$clrPurple300: #422b52;
$clrPurple200: #2e1e38;
$clrPurple100: #19101f;

/*#endregion*/