$clrText: #333333;

$clrBlack: #484646; //Charcole

$clrGrey100: #767474; //rgba($clrBlack, .75)
$clrGrey200: #a3a2a2; //rgba($clrBlack, .50)
$clrGrey300: #d1d1d1; //rgba($clrBlack, .25)
$clrGrey400: #f6f6f6; //rgba($clrBlack,. 05)

/*#endregion*/

/*#region Blue*/

$clrBlue100: #4e47a4;
$clrBlue200: #7a75bb; //rgba($clrBlue100, .75)
$clrBlue300: #a6a3d1; //rgba($clrBlue100, .50)
$clrBlue400: #d3d1e8; //rgba($clrBlue100, .25)

/*#endregion*/