@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?6zw8ei');
  src:  url('../icons/icomoon.eot?6zw8ei#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?6zw8ei') format('truetype'),
    url('../icons/icomoon.woff?6zw8ei') format('woff'),
    url('../icons/icomoon.svg?6zw8ei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-sign:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-square:before {
  content: "\e904";
}
.icon-map:before {
  content: "\e905";
}