html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*#endregion*/
/*#region Blue*/
/*#endregion*/
/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
}
/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
}
/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
}
/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
}
/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
}
/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
}
/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
}
/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
}
/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
}
/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
/** =================== MONTSERRAT ALTERNATES =================== **/
/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Thin.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Thin.woff") format("woff");
}
/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}
/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Light.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Light.woff") format("woff");
}
/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}
/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Regular.woff") format("woff");
}
/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-Italic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Italic.woff") format("woff");
}
/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Medium.woff") format("woff");
}
/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-MediumItalic.woff") format("woff");
}
/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}
/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Bold.woff") format("woff");
}
/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}
/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Black.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Black.woff") format("woff");
}
/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.eot?6zw8ei");
  src: url("../icons/icomoon.eot?6zw8ei#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?6zw8ei") format("truetype"), url("../icons/icomoon.woff?6zw8ei") format("woff"), url("../icons/icomoon.svg?6zw8ei#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square:before {
  content: "\e905";
}

.icon-skype:before {
  content: "\e900";
}

.icon-at-sign:before {
  content: "\e901";
}

.icon-github:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-mail:before {
  content: "\e904";
}

:root {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62em;
  color: black;
  background-color: white;
}
@media print {
  :root {
    background-color: white;
    font-size: 14px;
  }
}

/* #region mixin */
/* #endregion */
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #d1d1d1;
}
body::-webkit-scrollbar-thumb {
  background-color: #a6a3d1;
}
body > div.wrapper {
  max-width: 210mm;
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
@media print {
  body > div.wrapper {
    min-height: 296.5mm;
    max-width: 210mm;
  }
}
body > div.wrapper > main {
  display: block;
}
body > div.wrapper > main h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
  line-height: 1em;
  margin-bottom: 0.5rem;
}
body > div.wrapper > main section.intro {
  overflow: hidden;
  margin-bottom: 2rem;
}
body > div.wrapper > main section.intro h1 {
  margin-bottom: 2rem;
  padding-left: 9rem;
  position: relative;
  min-height: 8rem;
  padding-top: 1.875rem;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro h1 {
    min-height: 6rem;
    padding-top: 0;
    padding-left: 7rem;
  }
}
body > div.wrapper > main section.intro h1::before {
  content: "";
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/public/images/sina-shadbad.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro h1::before {
    width: 6rem;
    height: 6rem;
  }
}
body > div.wrapper > main section.intro h1 span {
  display: block;
  line-height: 1em;
}
body > div.wrapper > main section.intro h1 span:first-of-type {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #4e47a4;
  letter-spacing: 0.0625rem;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro h1 span:first-of-type {
    font-size: 2rem;
  }
}
body > div.wrapper > main section.intro h1 span:last-of-type {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro h1 span:last-of-type {
    font-size: 1rem;
  }
}
body > div.wrapper > main section.intro ul.contact {
  float: left;
  width: calc((100% - 1rem) / 2);
  font-size: 0.875rem;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro ul.contact {
    width: 100%;
    margin-bottom: 1rem;
  }
}
body > div.wrapper > main section.intro ul.contact li {
  display: block;
  overflow: hidden;
}
body > div.wrapper > main section.intro ul.contact li:last-of-type {
  margin-bottom: 0;
}
body > div.wrapper > main section.intro ul.contact li a {
  display: block;
  float: left;
  height: 1.75rem;
  line-height: 1.75rem;
  transition: color 0.3s ease-in-out;
  color: black;
}
body > div.wrapper > main section.intro ul.contact li a:hover {
  color: #4e47a4;
}
body > div.wrapper > main section.intro ul.contact li a:hover::before {
  color: #7a75bb;
}
body > div.wrapper > main section.intro ul.contact li a::before {
  display: block;
  float: left;
  height: 1.75rem;
  width: 1.5rem;
  line-height: 1.75rem;
  text-align: left;
  color: #767474;
  transition: color 0.3s ease-in-out;
}
body > div.wrapper > main section.intro ul.contact li a.icon-skype::before {
  font-size: 1.125rem;
  position: relative;
  left: -0.125rem;
  line-height: 1.8rem;
}
body > div.wrapper > main section.intro ul.contact li a.icon-linkedin::before {
  line-height: 1.7rem;
}
body > div.wrapper > main section.intro ul.skills-education {
  width: calc((100% - 1rem) / 2);
  float: left;
  margin-left: 1rem;
  font-size: 0.875rem;
}
@media (max-width: 500px) {
  body > div.wrapper > main section.intro ul.skills-education {
    width: 100%;
    margin-left: 0;
  }
}
body > div.wrapper > main section.intro ul.skills-education > li {
  display: block;
}
body > div.wrapper > main section.intro ul.skills-education > li::before {
  font-weight: 500;
  display: inline-block;
  margin-right: 0.25rem;
}
body > div.wrapper > main section.intro ul.skills-education > li:first-of-type {
  margin-bottom: 0.125rem;
}
body > div.wrapper > main section.intro ul.skills-education > li:first-of-type::before {
  content: "Education: ";
}
body > div.wrapper > main section.intro ul.skills-education > li:nth-of-type(3n + 2)::before {
  content: "Languages: ";
}
body > div.wrapper > main section.intro ul.skills-education > li:last-of-type ul {
  display: inline-block;
}
body > div.wrapper > main section.intro ul.skills-education > li:last-of-type ul::before {
  content: "Top Skills: ";
  font-weight: 500;
  display: inline-block;
  margin-right: 0.25rem;
}
body > div.wrapper > main section.intro ul.skills-education > li:last-of-type ul li {
  display: inline-block;
}
body > div.wrapper > main section.intro ul.skills-education > li:last-of-type ul li::after {
  content: ", ";
}
body > div.wrapper > main section.intro ul.skills-education > li:last-of-type ul li:last-of-type::after {
  display: none;
}
body > div.wrapper > main section.summary {
  margin-bottom: 2rem;
}
body > div.wrapper > main section.experience > h2 {
  margin-bottom: 1rem;
}
body > div.wrapper > main section.experience > div {
  margin-bottom: 3rem;
}
body > div.wrapper > main section.experience > div h3 {
  overflow: hidden;
}
body > div.wrapper > main section.experience > div h3 span {
  display: block;
  float: left;
}
body > div.wrapper > main section.experience > div h3 span.title {
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
  height: 1.5rem;
}
body > div.wrapper > main section.experience > div h3 span.company {
  overflow: hidden;
  font-weight: 500;
  color: #484646;
}
body > div.wrapper > main section.experience > div h3 span.company::before {
  color: #767474;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  display: block;
  float: left;
  font-size: 0.875rem;
  font-weight: 300;
}
body > div.wrapper > main section.experience > div p.time {
  margin-bottom: 0.5rem;
}
body > div.wrapper > main section.experience > div p.time time,
body > div.wrapper > main section.experience > div p.time span {
  font-size: 0.75rem;
  font-weight: 400;
}
body > div.wrapper > main section.experience > div p.time span::before {
  content: " // ";
  letter-spacing: 0.125rem;
  color: #767474;
}
body > div.wrapper > main section.experience > div p.tech-stack {
  font-size: 0.875rem;
}
body > div.wrapper > main section.experience > div p.tech-stack::before {
  content: "Tech Stack: ";
  font-weight: 600;
}
body > div.wrapper > main section.experience > div ul {
  margin-bottom: 1rem;
}
body > div.wrapper > main section.experience > div ul li {
  display: block;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.8em;
  position: relative;
}
body > div.wrapper > main section.experience > div ul li:last-of-type {
  margin-bottom: 0;
}
body > div.wrapper > main section.experience > div ul li::before {
  content: "\e905";
  font-family: "icomoon";
  width: 1.5rem;
  height: 2rem;
  line-height: 1.7rem;
  position: absolute;
  font-size: 0.875rem;
  top: 0;
  left: 0;
  border-radius: 0.125rem;
}
body > div.wrapper > main section.experience > div ul li a {
  color: #4e47a4;
  font-weight: 500;
}