html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*#endregion*/
/*#region Blue*/
/*#endregion*/
/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
}
/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
}
/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
}
/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
}
/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
}
/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
}
/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
}
/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
}
/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
}
/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
/** =================== MONTSERRAT ALTERNATES =================== **/
/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Thin.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Thin.woff") format("woff");
}
/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}
/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Light.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Light.woff") format("woff");
}
/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}
/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Regular.woff") format("woff");
}
/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-Italic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Italic.woff") format("woff");
}
/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Medium.woff") format("woff");
}
/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-MediumItalic.woff") format("woff");
}
/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}
/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Bold.woff") format("woff");
}
/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}
/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/montserrat/MontserratAlternates-Black.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-Black.woff") format("woff");
}
/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/montserrat/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.eot?6zw8ei");
  src: url("../icons/icomoon.eot?6zw8ei#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?6zw8ei") format("truetype"), url("../icons/icomoon.woff?6zw8ei") format("woff"), url("../icons/icomoon.svg?6zw8ei#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-sign:before {
  content: "\e903";
}

.icon-linkedin:before {
  content: "\e900";
}

.icon-mail:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.icon-square:before {
  content: "\e904";
}

.icon-map:before {
  content: "\e905";
}

:root {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62em;
  color: #333333;
  background-color: #f6f6f6;
}
@media print {
  :root {
    background-color: white;
    font-size: 14px;
  }
}

/* #region mixin */
/* #endregion */
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #d1d1d1;
}
body::-webkit-scrollbar-thumb {
  background-color: #a6a3d1;
}
body > div.wrapper {
  max-width: 75rem;
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
@media print {
  body > div.wrapper {
    min-height: 296.5mm;
    max-width: 210mm;
  }
}
body > div.wrapper > main {
  width: calc((100% - 6rem) / 4 * 3);
  float: right;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > main {
    width: 100%;
    float: none;
  }
}
@media print {
  body > div.wrapper > main {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
body > div.wrapper > main section.intro {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > main section.intro {
    margin-bottom: 1.5rem;
  }
  body > div.wrapper > main section.intro::before {
    content: "";
    display: block;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/sina-shadbad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 680px) {
  body > div.wrapper > main section.intro::before {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body > div.wrapper > main section.intro {
    margin-bottom: 1rem;
  }
}
body > div.wrapper > main section.intro h1 {
  margin-bottom: 1rem;
}
body > div.wrapper > main section.intro h1 span {
  display: block;
  line-height: 1em;
  color: #4e47a4;
}
body > div.wrapper > main section.intro h1 span:first-of-type {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 470px) {
  body > div.wrapper > main section.intro h1 span:first-of-type {
    font-size: 2.5rem;
  }
}
body > div.wrapper > main section.intro h1 span:last-of-type {
  font-size: 1.5rem;
  font-weight: 500;
}
@media screen and (max-width: 470px) {
  body > div.wrapper > main section.intro h1 span:last-of-type {
    font-size: 1rem;
  }
}
body > div.wrapper > main section.intro > a {
  display: block;
  color: #4e47a4;
  font-size: 0.875rem;
  line-height: 1.125em;
  float: left;
  clear: left;
  position: relative;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > main section.intro > a {
    float: none;
    clear: none;
    display: inline-block;
  }
}
body > div.wrapper > main section.intro > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #a6a3d1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
body > div.wrapper > main section.intro > a:hover::after {
  transform: scaleX(1);
}
body > div.wrapper > main section.intro ul.contact {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1080px) {
  body > div.wrapper > main section.intro ul.contact {
    clear: both;
    padding-top: 1rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
}
@media screen and (max-width: 900px) {
  body > div.wrapper > main section.intro ul.contact {
    float: none;
    clear: none;
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  body > div.wrapper > main section.intro ul.contact {
    padding-top: 0;
  }
}
body > div.wrapper > main section.intro ul.contact li {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1080px) {
  body > div.wrapper > main section.intro ul.contact li {
    float: left;
    width: auto;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  body > div.wrapper > main section.intro ul.contact li:nth-of-type(3n + 1) {
    margin-left: 0;
    clear: left;
  }
}
@media screen and (max-width: 500px) {
  body > div.wrapper > main section.intro ul.contact li {
    clear: left;
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
body > div.wrapper > main section.intro ul.contact li:last-of-type {
  margin-bottom: 0;
}
body > div.wrapper > main section.intro ul.contact li a {
  letter-spacing: 0.125rem;
  display: block;
  height: 2rem;
  line-height: 2rem;
  font-weight: 500;
  position: relative;
  padding-left: 2rem;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
}
@media screen and (max-width: 1080px) {
  body > div.wrapper > main section.intro ul.contact li a {
    letter-spacing: normal;
    padding-left: 0;
  }
}
body > div.wrapper > main section.intro ul.contact li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
  font-size: 1.125rem;
  color: #a3a2a2;
  transition: color 0.3s ease-in-out 0.2s;
}
@media screen and (max-width: 1080px) {
  body > div.wrapper > main section.intro ul.contact li a::before {
    display: none;
    font-size: 1rem;
  }
}
body > div.wrapper > main section.intro ul.contact li a:hover {
  color: #4e47a4;
}
body > div.wrapper > main section.intro ul.contact li a:hover::before {
  color: #7a75bb;
}
body > div.wrapper > main section.summary {
  position: relative;
  margin-bottom: 2rem;
}
body > div.wrapper > main section.summary p {
  font-size: 0.875rem;
}
body > div.wrapper > main section.summary p strong {
  font-weight: 600;
}
body > div.wrapper > main section.summary p em {
  font-weight: 600;
  font-style: italic;
}
body > div.wrapper > main section.experience > h2 {
  font-size: 1.25rem;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0;
  color: #4e47a4;
  display: none;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > main section.experience > h2 {
    display: block;
  }
}
@media print {
  body > div.wrapper > main section.experience > h2 {
    display: block;
  }
}
body > div.wrapper > main section.experience > div {
  margin-bottom: 2rem;
}
body > div.wrapper > main section.experience > div h3 {
  overflow: hidden;
  margin-bottom: 0.125rem;
}
body > div.wrapper > main section.experience > div h3 span {
  display: block;
  float: left;
  height: 1.5rem;
  line-height: 1.5rem;
}
body > div.wrapper > main section.experience > div h3 span.title {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.25rem;
}
body > div.wrapper > main section.experience > div h3 span.company {
  position: relative;
  padding-left: 1.25rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #767474;
}
@media screen and (max-width: 700px) {
  body > div.wrapper > main section.experience > div h3 span.company {
    clear: left;
  }
}
body > div.wrapper > main section.experience > div h3 span.company::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-size: 1rem;
  color: #767474;
  font-weight: normal;
}
body > div.wrapper > main section.experience > div p:first-of-type {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  body > div.wrapper > main section.experience > div p:first-of-type {
    padding-left: 1.25rem;
  }
}
body > div.wrapper > main section.experience > div p:first-of-type time {
  float: left;
  display: block;
  line-height: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  body > div.wrapper > main section.experience > div p:first-of-type time {
    margin-right: 0.25rem;
  }
}
body > div.wrapper > main section.experience > div p:first-of-type span {
  font-weight: 500;
  display: block;
  float: left;
  line-height: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 400px) {
  body > div.wrapper > main section.experience > div p:first-of-type span {
    clear: left;
  }
}
body > div.wrapper > main section.experience > div p:first-of-type span::before {
  content: "//";
  letter-spacing: 0.25rem;
  float: left;
  display: block;
  margin-right: 0.25rem;
  font-weight: 500;
  line-height: 1.6rem;
  height: 1.5rem;
  color: #a3a2a2;
}
@media screen and (max-width: 500px) {
  body > div.wrapper > main section.experience > div p:first-of-type span::before {
    display: none;
  }
}
body > div.wrapper > main section.experience > div p:first-of-type span:last-of-type {
  margin-right: 0;
}
body > div.wrapper > main section.experience > div ul {
  font-size: 0.875rem;
  line-height: 1.25em;
  box-sizing: border-box;
  padding-left: 1.5rem;
}
body > div.wrapper > main section.experience > div ul li {
  display: block;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5em;
}
body > div.wrapper > main section.experience > div ul li::before {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  top: 0.4rem;
  left: 0;
  box-sizing: border-box;
  background-color: #a6a3d1;
  border-radius: 0.125rem;
}
body > div.wrapper > main section.experience > div ul li a {
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
body > div.wrapper > main section.experience > div ul li a:hover {
  color: #4e47a4;
}
body > div.wrapper > main section.experience > div ul li strong {
  font-weight: 600;
}
body > div.wrapper > main section.experience > div ul li em {
  font-weight: 600;
  font-style: italic;
}
body > div.wrapper > aside {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  width: calc((100% - 6rem) / 4);
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > aside {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media print {
  body > div.wrapper > aside {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
body > div.wrapper > aside a {
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
body > div.wrapper > aside a:hover {
  color: #4e47a4;
}
body > div.wrapper > aside > img {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
@media print {
  body > div.wrapper > aside > img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body > div.wrapper > aside > img {
    display: none;
  }
}
body > div.wrapper > aside ul.skill {
  overflow: hidden;
}
body > div.wrapper > aside ul.skill li {
  display: block;
  overflow: hidden;
  margin-bottom: 0.25rem;
  position: relative;
  height: 1.5rem;
}
body > div.wrapper > aside ul.skill li:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  body > div.wrapper > aside ul.skill li {
    width: calc((100% - 2rem) / 2);
    float: left;
    margin-left: 2rem;
  }
  body > div.wrapper > aside ul.skill li:nth-of-type(2n + 1) {
    margin-left: 0;
    clear: left;
  }
}
@media screen and (max-width: 500px) {
  body > div.wrapper > aside ul.skill li {
    width: 100%;
    float: left;
    margin-left: 0;
  }
  body > div.wrapper > aside ul.skill li:nth-of-type(2n + 1) {
    margin-left: 0;
    clear: left;
  }
}
@media print {
  body > div.wrapper > aside ul.skill li {
    width: calc((100% - 4rem) / 3);
    float: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  body > div.wrapper > aside ul.skill li:nth-of-type(3n + 1) {
    margin-left: 0;
    clear: left;
  }
}
body > div.wrapper > aside ul.skill li span {
  display: block;
  float: left;
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: calc((100% - 0.5rem) / 3);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body > div.wrapper > aside ul.skill li::before {
  content: "";
  width: calc((100% - 0.5rem) / 3 * 2);
  position: absolute;
  left: calc((100% - 0.5rem) / 3);
  margin-left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 0.125rem;
  background-color: #d1d1d1;
}
body > div.wrapper > aside ul.skill li::after {
  content: "";
  width: calc((100% - 0.5rem) / 3 * 2);
  position: absolute;
  left: calc((100% - 0.5rem) / 3);
  margin-left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 0.125rem;
  background-color: #7a75bb;
}
body > div.wrapper > aside ul.skill li[data-score="10"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.1);
}
body > div.wrapper > aside ul.skill li[data-score="20"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.2);
}
body > div.wrapper > aside ul.skill li[data-score="30"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.3);
}
body > div.wrapper > aside ul.skill li[data-score="40"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.4);
}
body > div.wrapper > aside ul.skill li[data-score="50"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.5);
}
body > div.wrapper > aside ul.skill li[data-score="60"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.6);
}
body > div.wrapper > aside ul.skill li[data-score="70"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.7);
}
body > div.wrapper > aside ul.skill li[data-score="80"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.8);
}
body > div.wrapper > aside ul.skill li[data-score="90"]::after {
  width: calc((100% - 0.5rem) / 3 * 2 * 0.9);
}
body > div.wrapper > aside ul.skill li[data-score="100"]::after {
  width: calc((100% - 0.5rem) / 3 * 2);
}
body > div.wrapper > aside ul.bullet {
  overflow: hidden;
  font-size: 0.75rem;
}
body > div.wrapper > aside ul.bullet li {
  display: block;
  overflow: hidden;
  margin-bottom: 0.25rem;
  position: relative;
  height: 1.5rem;
  float: left;
  width: calc((100% - 1rem) / 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 1rem;
  position: relative;
  margin-left: 1rem;
}
body > div.wrapper > aside ul.bullet li:nth-of-type(2n + 1) {
  clear: left;
  margin-left: 0;
}
@media screen and (max-width: 1160px) {
  body > div.wrapper > aside ul.bullet li {
    width: 100%;
    margin-left: 0;
  }
}
@media print {
  body > div.wrapper > aside ul.bullet li {
    width: calc((100% - 6rem) / 4);
    margin-left: 0;
  }
  body > div.wrapper > aside ul.bullet li:nth-of-type(2n + 1) {
    clear: none;
  }
}
body > div.wrapper > aside ul.bullet li::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 0.5rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #7a75bb;
  box-sizing: border-box;
}
body > div.wrapper > aside ul.key-value {
  overflow: hidden;
  font-size: 0.75rem;
}
body > div.wrapper > aside ul.key-value li {
  margin-bottom: 1rem;
  overflow: hidden;
}
@media print {
  body > div.wrapper > aside ul.key-value li {
    width: calc((100% - 4rem) / 3);
    float: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  body > div.wrapper > aside ul.key-value li:nth-of-type(3n+1) {
    margin-left: 0;
    clear: left;
  }
}
body > div.wrapper > aside ul.key-value li span.key {
  display: block;
  line-height: 1em;
  float: left;
  clear: left;
  margin-right: 0.5rem;
  font-weight: 500;
  color: #767474;
}
body > div.wrapper > aside ul.key-value li span.key::after {
  content: ": ";
}
body > div.wrapper > aside ul.key-value li .value {
  display: block;
  line-height: 1em;
  float: left;
}
body > div.wrapper > aside ul.key-value li a.value {
  text-decoration: underline;
}
body > div.wrapper > aside > div {
  box-sizing: border-box;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
body > div.wrapper > aside > div:last-of-type {
  margin-bottom: 0;
}
body > div.wrapper > aside > div h3 {
  font-style: italic;
  text-align: right;
  line-height: 1.25em;
  vertical-align: top;
  color: #a3a2a2;
  padding-bottom: 0.125rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  position: relative;
}
body > div.wrapper > aside > div h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.0625rem;
  background: linear-gradient(to left, #a3a2a2, transparent);
}
@media screen and (max-width: 900px) {
  body > div.wrapper > aside > div h3 {
    font-style: normal;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
    font-size: 1.25rem;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0;
    color: #4e47a4;
  }
  body > div.wrapper > aside > div h3::after {
    display: none;
  }
}
@media print {
  body > div.wrapper > aside > div h3 {
    font-style: normal;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
    font-size: 1.25rem;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0;
    color: #4e47a4;
  }
  body > div.wrapper > aside > div h3::after {
    display: none;
  }
}
body > div.wrapper > aside > div.education > div h4 {
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 0.5rem;
}
body > div.wrapper > aside > div.education > div p {
  color: #767474;
  overflow: hidden;
}
body > div.wrapper > aside > div.education > div p time {
  line-height: 1em;
  display: block;
  float: left;
  font-size: 0.75rem;
  font-weight: 500;
  margin-right: 0.25rem;
}
body > div.wrapper > aside > div.education > div p time::after {
  content: "//";
  float: right;
  margin-left: 0.5rem;
  color: #a3a2a2;
  letter-spacing: 0.125rem;
}
body > div.wrapper > aside > div.education > div p a {
  display: block;
  float: left;
  line-height: 1em;
  font-size: 0.75rem;
}
@media print {
  body > div.wrapper > aside > div.info {
    margin-bottom: 1rem;
  }
}