/*#region colors*/
:root {
  --clrBlack100: rgb(10, 10, 10);
  --clrBlack200: rgb(15, 15, 15);
  --clrBlack300: rgb(20, 20, 20);
  --clrBlack400: rgb(26, 26, 26);
  --clrBlack500: rgb(31, 31, 31);
  --clrBlack600: rgb(36, 36, 36);
  --clrBlack700: rgb(41, 41, 41);
  --clrBlack800: rgb(46, 46, 46);
  --clrBlack900: rgb(51, 51, 51);

  --clrGray100: rgb(128, 128, 128);
  --clrGray200: rgb(140, 140, 140);
  --clrGray300: rgb(153, 153, 153);
  --clrGray400: rgb(166, 166, 166);
  --clrGray500: rgb(179, 179, 179);
  --clrGray600: rgb(191, 191, 191);
  --clrGray700: rgb(204, 204, 204);
  --clrGray800: rgb(217, 217, 217);
  --clrGray900: rgb(229, 229, 229);

  --clrBlue100: rgb(37, 36, 64);
  --clrBlue200: rgb(45, 43, 77);
  --clrBlue300: rgb(52, 50, 89);
  --clrBlue400: rgb(59, 57, 102);
  --clrBlue500: rgb(67, 64, 115);
  --clrBlue600: rgb(74, 71, 128);
  --clrBlue700: rgb(82, 79, 140);
  --clrBlue800: rgb(89, 86, 153);
  --clrBlue900: rgb(100, 96, 170);

  --clrOrange100: rgb(140, 66, 20);
  --clrOrange200: rgb(153, 72, 21);
  --clrOrange300: rgb(166, 78, 23);
  --clrOrange400: rgb(179, 84, 25);
  --clrOrange500: rgb(191, 90, 27);
  --clrOrange600: rgb(204, 96, 29);
  --clrOrange700: rgb(217, 102, 30);
  --clrOrange800: rgb(219, 108, 32);
  --clrOrange900: rgb(242, 112, 34);

  --clrRed900: rgb(236, 29, 37);
}

html {
  font-size: 16px;
  font-weight: normal;
}

body {
  background-color:white;
  color: var(--clrBlack800);
  padding: 2rem;
}

div.w {
  max-width: 1000px;
  box-sizing: border-box;
  background-color: var(--clrGray900);
  overflow: hidden;
  position: relative;
  margin: auto;
}

main{
  display: block;
  width:66.66%;
  float: right;
  box-sizing: border-box;
  padding:2rem;
}

main header{
  margin-bottom: 2rem;
}

main header p{
  margin: auto;
  font-size: .875em;
  line-height: 1.5em;
  text-align: justify;
}

main div.experience > div{
  margin-bottom: 3rem;
}

main div.experience > div:last-of-type{
  margin-bottom: 0;
}


main div.experience > div h2 span:first-of-type{
  display: block;
  font-weight: bold;
  font-size: 1.125em;
  line-height:1em;
}

main div.experience > div h2 span:last-of-type{
  display: block;
  font-weight: normal;
  font-size: .875em;
  margin-top:.25rem;
}

main div.experience > div >time{
  display: block;
  margin-bottom: 1rem;
  margin-top: .5rem;
  font-size: .75em;
  font-style: italic;
}

main div.experience > div > p{
  font-size: .875em;
  margin-bottom: 1rem;
  line-height: 1.5em;
}

main div.experience > div > p strong{
  font-weight: bold;
}

main div.experience > div > ol{
  padding-left: 1rem;
  position: relative;
}

main div.experience > div > ol li{
  padding-left: 1rem;
  padding-bottom: 1.25rem;
  position: relative;
}

main div.experience > div > ol li:before{
  width:.5rem;
  height:.5rem;
  content:'';
  position: absolute;
  top:.125rem;
  left:0;
  box-sizing: border-box;
  border:2px solid var(--clrGray700);
}

main div.experience > div > ol li:after{
  content: '';
  position: absolute;
  top:.625rem;
  bottom: 1px;
  left:.125rem;
  transform: translate(1px, 1px);
  width:2px;
  background-color: var(--clrGray700);
}

main div.experience > div > ol li:last-of-type{
  padding-bottom: 0;
}

main div.experience > div > ol li:last-of-type:after{
  display: none;
}

main div.experience > div > ol li time{
  display: block;
  font-size: .75rem;
  line-height: 1em;
  margin-bottom: .5rem;
  font-style: italic;
}

main div.experience > div > ol li h3 span{
  display: block;
  font-size: .75rem;
  line-height: 1.2em;
  margin-bottom: .25rem;
  color:var(--clrGray200);
}

main div.experience > div > ol li h3 a{
  font-size: .875rem;
}

main div.experience > div > ul{
  padding-left:1rem;
}

main div.experience > div > ul li{
  padding-left:1rem;
  font-size: .875em;
  margin-bottom: .5rem;
  line-height: 1em;
  position: relative;
}

main div.experience > div > ul li:before{
  content:'';
  position: absolute;
  top:50%;
  left:0;
  width:.5em;
  height:.5em;
  background-color: var(--clrGray500);
  transform: translateY(-50%);
}

main div.experience > div > ul li:last-of-type{
  margin-bottom: 0;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 33.333%;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--clrGray800);
  border-right: 1px solid var(--clrGray700);
}

aside img {
  display: block;
  width: 70%;
  height: auto;
  filter: grayscale(100%);
  margin: 0 auto 1rem auto;
}

aside h1 {
  margin-bottom: 2rem;  
}

aside h1 span:nth-of-type(3n+1) {
  display: block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  color: var(--clrBlack900);
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

aside h1 span:nth-of-type(3n+2) {
  display: block;
  text-align: center;
  font-size: 0.875em;
  line-height: 1em;
  margin-bottom: 0.5rem;
}

aside h1 span:nth-of-type(3n+3){
  display: block;
  text-align: center;
  font-size: 0.75em;
  line-height: 1em;
}

aside > div {
  margin-bottom: 2rem;
}

aside > div h2 {
  font-size: 0.75em;
  font-weight: 300;
  text-align: right;
  line-height: 1em;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--clrGray700);
  font-style: italic;
}

aside > div.contact a {
  display: block;
  font-size: 0.875em;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

aside > div.contact a:last-of-type {
  margin-bottom: 0;
}

aside > div.status p {
  margin-bottom: 0.5rem;
  clear: both;
  overflow: hidden;
}

aside > div.status p span:first-of-type {
  display: block;
  float: left;
  font-size: 0.875em;
  line-height: 1.5em;
  font-weight: 300;
}

aside > div.status p span:first-of-type:after {
  content: ":";
  display: inline-block;
  line-height: 1.5em;
  font-size: 0.875em;
  margin-right: 0.25rem;
}

aside > div.status p span:last-of-type, aside > div.status p a {
  display: block;
  float: left;
  font-size: 0.875em;
  line-height: 1.5em;
}

aside > div ul li {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 1rem;
  
}

aside > div ul li:last-of-type {
  margin-bottom: 0;
}

aside > div ul li span {
  display: block;
  float: left;
  font-size: 0.875em;
  height: 1rem;
  line-height: 1rem;
}

aside > div ul li span.t {
  width: 40%;
}

aside > div ul li span.t em{
  font-style: italic;
  font-size: .75em;
}

aside > div ul li span:not(.t) {
  width: 60%;
  position: relative;
 
}

aside > div ul li span:not(.t):before{
  content: '';
  position: absolute;
  top:50%;
  left:0;
  right:0;
  height: .25rem;
  z-index: 1;
  background-color:  rgb(170, 170, 170);
  transform: translateY(-50%);
}

aside > div ul li span:not(.t) i{
  display: block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:0;
  height: .25rem;
  background-color: rgb(59, 59, 59);
  z-index: 2;
}
