.error-boundary {
  min-height: 100vh;
  padding: 4rem 0;
  box-sizing: border-box;
}

.error-boundary__heading {
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
}

.error-boundary__heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 0.0625rem;
}

.error-boundary__title {
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.error-boundary__details {
  max-width: 50rem;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  margin: auto;
  overflow-y: auto;
}

.error-boundary__details-item {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.error-boundary__details-item:last-of-type {
  margin-bottom: 0;
}
